@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* globals.css */
@font-face {
  font-family: 'NetflixSans-Light';
  src: url('/font/NetflixSans-Light.woff2') format('woff2'),
       url('/font/NetflixSans-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NetflixSans-Medium';
  src: url('/font/NetflixSans-Medium.woff2') format('woff2'),
       url('/font/NetflixSans-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NetflixSans-Bold';
  src: url('/font/NetflixSans-Bold.woff2') format('woff2'),
       url('/font/NetflixSans-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  color: rgb(var(--foreground-rgb));
  line-height: 1.2;
  font-family: 'NetflixSans-Light', sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.netflix-light {
  font-family: 'NetflixSans-Light', sans-serif;
}

.netflix-medium {
  font-family: 'NetflixSans-Medium', sans-serif;
}

.netflix-bold {
  font-family: 'NetflixSans-Bold', sans-serif;
}

.full-page-background {
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.top-minus-value {
  position: relative;
  top: -20px; 
}

.font-light-italic {
  font-style: italic;
}